* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f2f2f2 !important;
    font-family: Arial, Helvetica, sans-serif;
}


.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.column-loading {
    float: left;
    width: 50%;
    padding: 10px;
}


h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 30px;
}

    h3:hover {
        color: #012840;
        cursor: pointer;
    }
    h3 div {
        height: 420px;
        width: 520px;
        word-wrap:break-word;
    }
h3 .nameCourse {
    visibility: hidden;
    
    background-color: #555;
    color: #fff;
    /*text-align: center;*/
    border-radius: 6px;
    padding: 8px 0;
    font-size: 14px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;

}

        h3 .nameCourse::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }



   /* h3:hover .nameCourse {
        visibility: visible;
    }*/

img {
    border-radius: 15px;
    padding: 10px;
    margin-right: 30px;
    margin-top: 15px;
}

i {
    margin-right: 5px;
}

input {
    border-radius: 10px;
    outline:none;
}

    input:hover, .search-button:hover {
        border: 1px solid #fff;
        border-radius: 25px;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        cursor: auto;
    }

.search-container .search-button {
    border-radius: 10px;
    float: right;
    height: 36px;
    margin-right:30px;
}

.tag-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.listTag {
    padding: 2px;
    margin-right: 10px;
    border-radius: 25px;
    border: 1px solid #fff;
    overflow: hidden;
    text-overflow: ellipsis
}

    .listTag:hover {
        border: 1px solid #fff;
        border-radius: 25px;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        cursor: default
    }



.column-content {
    border: 1px solid #fff;
    height: 270px;
    border-radius: 25px;
    padding: 10px;
    background-color: #fff;
}

    .column-content .contentCard__dynamicContent {
        text-align: center;
    }

    .column-content img {
        float: left;
    }

    .column-content:hover {
        border: 1px solid #fff;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
/*modal*/
.column-content-modal {
    border: 1px solid #fff;
    height: 200px;
    border-radius: 25px;
    padding: 10px;
    background-color: #fff;
}

#detailCourse .contentCard__dynamicContent {
    text-align: center;
}

.column-content-modal img {
    float: left;
}

.column-content-modal:hover {
    border: 1px solid #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loader {
    position: inherit;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loadMore {
    padding: 10px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

    #loadMore:hover {
        background-color: #fff;
        color: #33739E;
    }

.totop a {
}

a, a:visited {
    color: #33739E;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

    a:hover {
        text-decoration: none;
    }

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #2196F3;
            color: white;
        }

    .topnav .search-container {
        float: right;
    }

    .topnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }



@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

        .topnav a, .topnav input[type=text], .topnav .search-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #2196F3;
        display: block;
    }

        .sidenav a:hover {
            color: #064579;
        }

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
/*xử lý phân trang*/
.pagination {
    display: inline-block;
    margin-left: 360px;
    margin-right: 360px;
}

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
    }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }



.column-content-loading {
    border: 1px solid #fff;
    height: 200px;
    border-radius: 25px;
    padding: 10px;
    background-color: #fff;
}



.text-content {
    color: rgba(0,0,0,.87);
    font-family: "Lucida Console", "Courier New", monospace;
}

.fa-star {
    color: #fadb14;
}

.underLine {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
}

hr {
    border: 1px solid #ccc;
}
/*button quocde*/
.btn-dez {
    color: #012840;
    padding: 5px 35px;
    border: 1px solid #fff;
    border-radius: 15px;
    position: relative;
    font-size: 14px;
    cursor: pointer;
    transition: all .5s;
    outline: none !important;
}



    .btn-dez:disabled {
        opacity: 0.6;
        cursor: no-drop;
    }


    .btn-dez i {
        color: #012840;
        font-size: 20px;
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 10px;
    }

    .btn-dez:hover:enabled {
        background-color: #012840;
        color: #f0f0f0;
    }

        .btn-dez:hover:enabled i {
            color: #f0f0f0;
        }

.continute.btn-dez i {
    left: 140px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
}

.continute.MH0305.btn-dez i {
    left: 140px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
}

.mh04-video-buttons {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
}
/*end*/
