body {
}
.Navbar {
    min-height: 64px;
    padding: 0 24px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 99;
    border: 1px solid rgba(0,0,0,.12);
    box-shadow: 0 4px 4px rgba(0,0,0,.25), 0 4px 24px rgba(0,0,0,.25);
    background: #fff;
}
.Navbar__nav {
    display: flex;
    flex-grow: 1;
    margin-left: 2.625rem;
}
    .Navbar__nav li {
        margin-right: 1.5625rem;
        font-family: roboto,sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        list-style: none;
    }
        .Navbar__nav li a {
            font-size: 1em;
            line-height: 1.5;
            color: rgba(0,0,0,.87);
            text-decoration: none;
        }
.Navbar__form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
}

.Navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}



.autocomplete-items {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 1;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    position: absolute;
    overflow: auto;
    max-height: 700px;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
        
    }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
.search-container{
    position:relative;
}